/*mediaquery-for-tablet-(ipad)*/

@media only screen and (min-width:506px) and (max-width:800px) {
    /*home-section*/
    
    .homeSection__flexDesign {
        flex-direction: column;
        align-items: center;
        width: 100%;
     
    }
    .homeSection__flexRight {
        width: 100%;
        padding-top: 6px;
        padding-bottom: 35px;
        justify-content: center;
        margin: auto;
        text-align: center;
        order: 2;
    }
    .homeSection__flexRight h2{
        font-size: 12px;
        width: 60%;
        margin: auto;
      }
    .homeSection__flexRight h1 {
        font-size: 36px;
        line-height: 62px;
        width: 90%;
        text-align: center;
        margin: auto;
    }
    .homeSection__flexRight p{
        letter-spacing: .3px;
        width: 84%;
        font-size: 16.5px;
        text-align: start;
        margin: auto;
      }
      
    .homeSection--button2 {
        display: none;
    }
    .homeSection__flexLeft {
        order: 1;
        height: 370PX;
        width: 370px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    /*-------*/
    /*servicesection(tours)*/
    .serviceSection {
        background-position: center;
        background-size: cover;
    }
    .serviceSection__heading1-contents {
        width: 100%;
    }
    .serviceSection__heading1-contents p {
        font-size: 18.5px;
        width: 96%;
    }
    /*-------*/
    /*-----about-section----*/
    .about-section {
        text-align: center;
        margin: auto;
    }
    .about-section__container {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .about-section-left {
        width: 100%;
        margin: auto;
        order: 2;
    }
    .about-section-contents h1 {
        font-size: 32px;
        width: 96%;
        margin: auto;
        padding: 20px 0px;
    }
    #about-para {
        width: 92%;
        margin: auto;
    }
    .about-section-right {
        width: 90%;
        margin: auto;
        padding: 10px;
        order: 1;
        margin-top: -50px;
    }
    .about-section__msg-section {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 25px;
    }
    .about-section__msgBox {
        width: 85%;
        padding-bottom: 50px;
        text-align: center;
        margin: auto;
    }
    .about-section__msgBox p {
        width: 90%;
        margin: auto;
    }
    /*-----------*/
    /*-----testimonial-reviews------*/
    .testimonials .col {
        flex: 100%;
        max-width: 80%;
    }
    /*---------------------*/
    /*------blog-section----*/

    #blog-para {
        width: 92%;
    }

    .blog-contents {
        flex-direction: column;
    
        padding: 0;
        margin: 30px auto;
        align-items: center;
    }
    .blog-sliders {
        margin: 35px 0 0 0;
    }
    /*-----------------------*/
    /*----footer----*/
    .footer-conatiner {
        display: block;
        padding-left: 12px;
    }
    .footer-abt-section {
        width: 100%;
        padding-left: 0px;
        text-align: start;
    }
    .footer-ql-section {
        padding-top: 28px;
    }
    .footer-con-section{
        position: relative;
        padding-top: 28px;
        width: 100%;
    }
    /*----footer----*/



    /*contact-section*/
    .contact-container {
        flex-direction: column;
        width: 100%;
        margin: auto auto;
        align-items: center;
        justify-content: center;
       
    }
   

    .content-disp-right {
        order: 1;
        margin: 30px 0 30px 0;
    }

    .contact-disp-left {
        order: 2;
        width: 100%;
    }
    /*contact section*/



}










/*----------------------------------------------------------------------------------------------*/











/*media-query-for-smart-phone*/

@media only screen and (min-width:250px) and (max-width:506px) {
    /*navbar*/
    /*---------*/
    /*home-section*/
    
    .homeSection__flexDesign {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .homeSection__flexRight {
        width: 100%;
        padding-top: 6px;
        padding-bottom: 35px;
        justify-content: center;
        margin: auto;
        text-align: center;
        order: 2;
    }
    .homeSection__flexRight h2{
        font-size: 12px;
        width: 86%;
        margin: auto;
      }
    .homeSection__flexRight h1 {
        font-size: 26px;
        line-height: 41px;
        margin: auto;
        width: 93%;
        padding-top: 12px;
    }
    .homeSection__flexRight p {
        letter-spacing: .3px;
        width: 98%;
        font-size: 16.5px;
        text-align: start;
        margin: auto;
        padding-top: 12px;
        padding-left: 8px;
    }
    .homeSection__flexRight p:nth-child(5){
        padding-bottom: 32px;
      }
    .homeSection--button {
        font-size: 14px;
        width: 122px;
        height: 42px;
      }
      .homeSection--button2 {
        font-size: 14px;
        width: 122px;
        height: 42px;
      }
    .homeSection__flexLeft {
        order: 1;
        height: 310PX;
        width: 310px;
        margin-top: 12px;
        margin-bottom: 25px;
    }
    /*-------*/
    /*servicesection(tours)*/
    .serviceSection {
        background-position: center;
        background-size: cover;
    }
    .serviceSection__heading1-contents {
        width: 100%;
    }
    .serviceSection__heading1-contents p {
        font-size: 16px;
        width: 96%;
        line-height: 25px;
    }
    /*flex-box*/
    .serviceSection__Container {
        width: 315px;
        padding: 50px 20px 38px 20px;
    }
    /*----------*/
    /*-----about-section----*/
    .about-section {
        text-align: center;
        margin: auto;
    }
    .about-section__container {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .about-section-left {
        width: 100%;
        margin: auto;
        order: 2;
    }
    .about-section-contents h1 {
        font-size: 32px;
        width: 96%;
        margin: auto;
        padding: 20px 0px;
    }
    #about-para {
        width: 92%;
        margin: auto;
    }
    .about-section-right {
        width: 90%;
        margin: auto;
        padding: 10px;
        order: 1;
        margin-top: -50px;
    }
    .about-section__msg-section {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 25px;
    }
    .about-section__msgBox {
        width: 85%;
        padding-bottom: 50px;
        text-align: center;
        margin: auto;
    }
    /*-----------*/
    /*-----testimonial-reviews------*/
    .testimonials .col {
        flex: 100%;
        max-width: 10000%;
    }
    /*---------------------*/
    /*------blog-section----*/
    #blog-para {
        width: 96%;
    }
    .blog-contents {
        flex-direction: column;
        padding: 0;
        margin: 30px auto;
        align-items: center;
    }
    .blog-sliders {
        margin: 35px 0 0 0;
        width: 336px;
        height: 562px;
    }
    .blog-section a {
        position: relative;
        top: 36px;
        font-size: 15.5px;
    }
    /*-----------------------*/
    /*----footer----*/
    .footer-conatiner {
        display: block;
        padding-left: 14px;
    }
    .footer-abt-section {
        width: 100%;
        padding-left: 0px;
        text-align: start;
    }
    .footer-abt-section i {
        margin-right: 18px;
        left: 6px;
      }
    .footer-ql-section {
        padding-top: 28px;
    }
    .footer-con-section {
        position: relative;
        padding-top: 28px;
        width: 100%;
    }
    /*----footer----*/




    /*contact section*/

    .contact-container {
        display: block;
        width: 100%;
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
    }
   
    .contact-disp-left {
        width: 100%;
    }

    /*contact section*/
}









